#Mon Feb 27 16:27:27 CET 2017
lisa.vse.execution.mode=EFFICIENT
LIVE_INVOCATION_SERVER=localhost
LIVE_INVOCATION_PORT=80
NoOfDays=5
ENDPOINT_GETAPPOINTMENT=http\://localhost\:6500/wfm/services/WfmAppBookingV002
ENDPOINT_BOOKAPPOINTMENT=http\://localhost\:6501/wfm/services/WfmAppBookingV002
ENDPOINT_ORDERENTRY=http\://localhost\:6502/axis/services/IOsiTaskPort
TIBCO.EMS.JNDI.FACTORY.CLASS=org.jnp.interfaces.NamingContextFactory
TIBCO.EMS.JNDI.SERVER.URL=tcp\://stast2aipt1v.swissptt.ch\:7622
TIBCO.EMS.JMS.CONNECTION.FACTORY=QueueConnectionFactory
TIBCO.EMS.USER_enc=l26cbb01a8170e8c1f43d5bf081364d4d95c6e4f1f6a833aebb07d8925f48def34f4db7681bbfb4
TIBCO.EMS.PASSWORD_enc=l0a3dae4a9f9caff7e4e69b7c7836f6cf8cd682d87fa496fe493e39a05fb62c4beb47e976b27f4eee67cd
TIBCO.EMS.ADMIN.USER_enc=l96c8fc4067c2abc5bd6d63c97b2aa7c5c000dd6db3831d00313402b28eb2adcb0bf218925f7601
TIBCO.EMS.ADMIN.PASSWORD_enc=ld73f079d02d79324c44875c721bbcd67a3c50ba0342513e1cc7a06758e941e52a6814d86ae20fe866ec2a878
TIBCO.EMS.QUEUE=scs.eai.sp.mlogistics.order.osiOperations.appointment.request
DB_DRIVER=org.apache.derby.jdbc.ClientDriver
DB_CONNECTION=jdbc\:derby\://localhost\:1528/database/lisa.db
DB_USER_enc=l828cb5d6b4e6861f3190a1b5af6783cac64efb0d0df4a1f29a3798b42d94e9da972e8c
DB_PASSWORD_enc=l6348e7b5e224b20f8e020b1d5799babdc05640eec2fbb692c41f342f5ad21bbc2f2a62
EJBSERVER=stint1aipt1v
EJBPORT=7722
LIVE_INVOCATION_PORT1=9002
